#pileup {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 20px;
  bottom: 10px;
}
#stats {
  position: absolute;
  right: 0;
  top: 0;
}

.panel {
  background-color: grey;
  margin-right: 320px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 260px;
  float: left;
  z-index: 99999; }
h2.panel {
  text-align: center;
  color: #180E3A;
  font-weight: 500;
  width: 0;
  margin-left: -10px;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 0px;
  float: center; }
